@tailwind base;
@tailwind components;
@tailwind utilities;

*:root{
  font-family: inter;


}
a{
 text-decoration: none;
 scroll-behavior: smooth;

}
/*  ---------------SMOOTH SCROLL------------- */
html{
  scroll-behavior: smooth;
}
/*------ CHANGE THE SCOROLL BAR DESIGN------------ */
::-webkit-scrollbar{
  width:10px ;
  border-radius: 25px;
}
::-webkit-scrollbar-track{
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
  background: #bbb;
}

input::placeholder{
  color: rgb(213, 211, 211);
  font-size: 11px;

}
input{
  font-size: 12px;
}