@tailwind base;
@tailwind components;
@tailwind utilities;

*:root{

  font-family: 'Inter', sans-serif;

}
body{
  font-family: 'Inter', sans-serif;
}
a{
 text-decoration: none;
 scroll-behavior: smooth;

}
/*  ---------------SMOOTH SCROLL------------- */
html{
  scroll-behavior: smooth;
}
/*------ CHANGE THE SCOROLL BAR DESIGN------------ */
::-webkit-scrollbar{
  width:10px ;
  border-radius: 25px;
}
::-webkit-scrollbar-track{
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
  background: #bbb;
}

input::placeholder{
  color: rgb(213, 211, 211);
  font-size: 11px;

}
input{
  font-size: 12px;
}

.btn-primary{
  @apply flex items-center justify-center px-5 py-1 lg:px-7 lg:py-2 bg-primary text-white rounded hover:bg-green-600 transition-all duration-100 
 text-[14px] lg:text-p hover:scale-105;
}

.li-link{
  @apply lg:text-p md:text-[14px] text-[11px] text-gray-400 leading-snug
}